:root {
  --primary-text-color: #212121;
  --seccondary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --secondary-bgcolor: #F5F4FA;
  --icon-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.input-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .flex-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .flex-container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .flex-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.content-container.after-hero {
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 94px;
}

.footer .content-container {
  padding-bottom: 28px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content-list > li {
  margin-right: 30px;
}

.content-list > li:last-child {
  margin-right: 0px;
}

.team .content-list > li {
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.item-text {
  font-weight: 400;
  color: var(--seccondary-text-color);
}

.after-hero .item-text {
  font-size: 14px;
  line-height: 1.71;
}

.team .item-text {
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.icon {
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header a:hover .icon, header a:focus .icon,
.regular-customers li:hover .icon, .regular-customers li:focus .icon {
  fill: var(--accent-color);
}

.after-hero .icon {
  width: 70px;
  height: 70px;
}

.team .icon {
  --color2: var(--secondary-bgcolor);
}

.team .icon:hover, .team .icon:focus {
  --color2: var(--accent-color);
  --color3: var(--primary-white-color);
}

.button {
  /*display: block;*/
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button.form-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 29px;
  padding-left: 29px;
  margin-left: 12px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.button.primary {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.form-button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
}

.logo {
  color: var(--accent-color);
}

.text-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer .text-logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

header .text-logo {
  margin-right: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.section.after-hero {
  padding-bottom: 0px;
}

.site-nav {
  margin-left: 85px;
}

.site-nav > li {
  margin-right: 50px;
}

.site-navli > :last-child {
  margin-right: 0px;
}

.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

a.current-page {
  position: relative;
}

a.current-page::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.contact-list li {
  margin-right: 30px;
}

.contact-list li:last-child {
  margin-right: 0px;
}

.hero .section {
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.overlay {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 210px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

header a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header a:hover, header a:focus {
  color: var(--accent-color);
}

.after-hero h3 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.after-hero p {
  margin-top: 10px;
}

.img-card {
  height: 120px;
  padding-top: 25px;
  background-color: var(--secondary-bgcolor);
  text-align: center;
}

/*========== aboute section ==============*/
.aboute-item {
  position: relative;
}

.aboute-text {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*=============================== end aboute section ==============================*/
.team {
  background-color: var(--secondary-bgcolor);
}

.team img {
  margin-bottom: 30px;
}

.team h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.team .section-title {
  padding-top: 94px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .social-list {
  margin-right: 32px;
  margin-left: 32px;
}

.team .social-list > li {
  margin-right: 10px;
}

.team .social-list > li:last-child {
  margin-right: 0px;
}

footer .social-list li {
  margin-right: 10px;
}

.regular-customers li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 90px;
  border: solid;
  border-color: var(--seccondary-text-color);
  border-width: 1px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers li:hover, .regular-customers li:focus {
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  color: var(--primary-white-color);
}

.footer a, .footer p {
  color: rgba(255, 255, 255, 0.6);
}

.footer p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.footer address a {
  display: block;
}

.footer b {
  height: 16px;
  left: 611px;
  top: 2821px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer a {
  text-decoration: none;
}

.footer-section p {
  margin-bottom: 10px;
}

.footer .social-list a {
  display: inline-block;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.footer .social-list a:hover, .footer footer .social-list a:focus {
  background-color: var(--accent-color);
}

.link-instagram {
  width: 44px;
  height: 44px;
  --color2: rgba(255, 255, 255, 0.1);
  --color3: var(--primary-white-color);
  border-radius: 50%;
}

.link-twitter {
  width: 44px;
  height: 44px;
  --color2: rgba(255, 255, 255, 0.1);
  --color3: var(--primary-white-color);
  border-radius: 50%;
}

.link-facebook {
  width: 44px;
  height: 44px;
  --color2: rgba(255, 255, 255, 0.1);
  --color3: var(--primary-white-color);
  border-radius: 50%;
}

.link-linkedin {
  width: 44px;
  height: 44px;
  --color2: rgba(255, 255, 255, 0.1);
  --color3: var(--primary-white-color);
  border-radius: 50%;
}

.email-input {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  padding: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background: var(--primary-white-color);
}

.modal-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal .form-contracts {
  margin-bottom: 30px;
}

.modal .contracts-label {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--seccondary-text-color);
}

.modal .button.primary {
  margin-left: 164px;
  margin-right: 164px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: var(--primary-white-color);
}

.button-close .close-icon {
  width: 11px;
  height: 11px;
}

.field-list {
  margin-bottom: 20px;
}

.field-list input {
  width: 448px;
  height: 40px;
}

.field-list .comments {
  width: 448px;
  height: 120px;
}

.field-list > li {
  position: relative;
  margin-bottom: 28px;
}

.field-list > li:last-child {
  margin-bottom: 0;
}

.field-list > li .form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--seccondary-text-color);
}

.field-list > li .field-element {
  padding-left: 42px;
}

.field-list > li:last-child .field-element {
  padding-left: 10px;
  resize: none;
}

.field-list > li:last-child .form-label {
  left: 19px;
  top: 13px;
  /*    transform: translateY(-36px);   */
}

.field-list .comments:focus + .form-label,
.field-list .comments:hover + .form-label,
.field-list .comments:not(:placeholder-shown) + .form-label {
  color: var(--accent-color);
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.field-list > li:hover .field-element, .field-list > li .field-element:focus {
  /*!!!!!??????????*/
  border-color: var(--accent-color);
}

.field-element:focus + .form-label,
.field-element:not(:placeholder-shown) + .form-label,
.field-element:hover + .form-label {
  color: var(--accent-color);
  -webkit-transform: translateY(-36px) translateX(-23px);
          transform: translateY(-36px) translateX(-23px);
  border-color: var(--accent-color);
}

.field-element:focus ~ .form-icon,
.field-element:not(:placeholder-shown) ~ .form-icon,
.field-element:hover ~ .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  /*position: absolute;
        left: 0;*/
  display: inline-block;
  width: 16px;
  height: 15px;
  border: solid;
  border-radius: 2px;
  color: black;
}

.checkbox:checked + .checkbox-icon {
  color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
}

.button-filter {
  border: none;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  font-family: Roboto, serif;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: var(--secondary-bgcolor);
}

.button-filter:hover, .button-filter:focus, .button-filter:active, .filter input:checked + .button-filter {
  background: #2196F3;
  color: #FFFFFF;
}

.main-portfolio {
  border-top: 1px solid #ECECEC;
}

.portfolio-section h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-section .item-text {
  font-size: 16px;
  line-height: 1.78;
}

.portfolio-section .gallery {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-section .filter {
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-section .filter > li {
  margin-right: 8px;
}

.portfolio-section .filter > li:last-child {
  margin-right: 0px;
}

.gallery p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.gallery > li {
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
}

.gallery > li:nth-child(3n) {
  margin-right: 0px;
}

.gallery > li:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.card {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-img {
  position: relative;
  overflow: hidden;
}

.card-content {
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.project-description {
  opacity: 1;
  position: absolute;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}

.card:hover .project-description {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
/*# sourceMappingURL=main.css.map */