.section{
    padding-top: 94px;
    padding-bottom: 94px;

    &-title{
        margin-bottom: 50px;
        text-align: center;
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
    }

    &.after-hero{
        padding-bottom: 0px; 
    }

}
       

